.container {
  width: 250px;
  height: 340px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  border-radius: 8px;
  background-color: grey;
  color: white;
  cursor: pointer;
}

.imgContainer {
  width: 250px;
  height: 250px;
  position: relative;
}

.imgContainer div {
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.characterImg {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.container span {
  padding: 4px 0 2px 4px;
}

